@keyframes noise{
  0%{background-position:1000px;}
}
body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}
section {
  width: 100%;
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
section::before,
section::after {
  content: "";
  display: block;
  border-radius: 100%;
  position: absolute;
}
.container {
  --first-color: #E91E63;
  --second-color: #009688;
  background: hsl(0, 0%, 10%);
}
label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 12px 0;
  cursor: pointer;
  position: relative;
}
input {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.circle {
  width: 16px;
  height: 16px;
  border: 1px solid var(--second-color);
  border-radius: 100%;
  margin-right: 15px;
  position: relative;
}
.circle::before,
.circle::after {
  content: "";
  display: block;
  width: inherit;
  height: inherit;
  border-radius: inherit;
  position: absolute;
  transform: scale(0);
  transform-origin: center center;
}
.circle:before {
  background: var(--second-color);
  opacity: 0;
  transition: .3s;
}
.circle::after {
  background: var(--first-color);
  opacity: .4;
  transition: .6s;
}
.text {
  color: var(--second-color);
  font-weight: bold;
}
input:checked+.circle::before {
  opacity: 1;
  transform: scale(.6);
}
input:hover+.circle,
input:focus+.circle {
  border: 1px solid var(--first-color);
}
input:hover+.circle:before,
input:focus+.circle:before {
  background: var(--first-color);
}
input:hover~.text {
  color: var(--first-color);
}
input:focus+.circle::after,
input:active+.circle::after {
  opacity: .1;
  transform: scale(2.6);
}
body {
  background: #ccae62;
}

a {
  text-decoration: none;
}

.clear:after {
  content: " ";
  display: block;
  clear: both;
}

.menu {
  margin-top: 50px;
  text-align: center;
}

.menu ul {
  list-style-type: none;
  display: inline-block;
}

.menu ul li {
  float: left;
  width: 124px;
  height: 140px;
  border-color: #e3e3e3;
  background-color: #fff;
  transition: background-color 0.2s linear 0s;
}
.menu ul li:first-child {border-radius: 25px 0 0 25px;}
.menu ul li:last-child {border-radius: 0 25px 25px 0;}

.menu ul li a {
  display: table;
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
}

.menu a i {
  display: table-cell;
  vertical-align: middle;
  color: #ffa801;
  font-size: 23px;
  transition: all 0.2s linear 0s;
}

.menu a i:before {
  border: 2px solid;
  border-color: #006266;
  border-radius: 500px;
  width: 41px;
  display: inline-block;
  height: 41px;
  line-height: 37px;
  transition: color 0.2s linear 0s, 
  font-size 0.2s linear 0s, 
  border-color 0.2s linear 0.2s, 
  height 0.2s linear 0s, 
  width 0.2s linear 0s, 
  line-height 0.2s linear 0s;
}

.menu a .link-text {
  position: absolute;
  bottom: 13px;
  right: 10px;
  color: #ffa801;
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.2s linear 0s;
}

.menu ul li:hover {
  background-color: #006266;
}

.menu ul li:hover .link-text {
  opacity: 0;
}

.menu ul li:hover i {
  color: #ffa801;
  font-size: 43px;
}

.menu ul li:hover i:before {
  border-color: transparent;
  border-radius: 500px;
  width: 66px;
  height: 66px;
  line-height: 60px;
  transition: color 0.2s linear 0s, 
  font-size 0.2s linear 0s, 
  border-color 0.2s linear 0s, 
  height 0.2s linear 0s, 
  width 0.2s linear 0s, 
  line-height 0.2s linear 0s;
}
